@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,600&display=swap');

*{
  padding:0px; margin:0px; box-sizing:border-box;
  font-family: 'Nunito', sans-serif;
  border:none;
  outline:none;
  text-transform:capitalize;
  transition:all 2s linear;
  text-decoration:none;
}
html{
  font-size:62.5%;
  overflow-x:hidden;
  scroll-padding-top:6rem;
  scroll-behaviour:smooth;
}
header{
  display:flex;
  justify-content:space-between;
  text-align:center;
  background:#333;
  color:#fff;
  z-index:1000;
  position:fixed;
  top:0; left:0; right:0;
  padding:2rem 9%;
}

header .logo{
  font-size:2.5rem;
  font-weight:bold;
  color:#fff;text-transform:uppercase;
}
span{
  color:#f59425;
}
header .navbar a{
  color:#fff;
  font-size:2rem;
  margin:0.8rem;
}
header .navbar a:hover{
  color:#f59425;
}
header .icons i{
  font-size:2.5rem;
  color:#fff;
  cursor:pointer;
  margin-right:2rem;
}
header .icons i:hover{
  color:#f59425;
}
header .search-bar-container{
  position:absolute;
  top:100%; left:0px; right:0px;
  padding:1.5rem 2rem;background:#3333;
  border-top:1rem solid rgba(255, 255, 255, 0.2);
  display:flex
}
header .search-bar-container #search-bar{
  width:100%;
  padding:1rem;
  text-transform:none;
  color:#333;
  font-size:1.7rem;
  border-radius:5rem;
}
