@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,600&display=swap');

*{
  padding:0px; margin:0px; box-sizing:border-box;
  font-family: 'Nunito', sans-serif;
  border:none;
  outline:none;
  text-transform:capitalize;
  transition:all 2s linear;
  text-decoration:none;
}

header{
  display:flex;
  justify-content:space-around;
  text-align:center;
  margin:50px 0px;
}
